# dependencies
node_modules
.pnpm-store

# next.js
.next
out
build

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel

# test artifacts
test-*.pdf
test-*.mjs
scripts/
